.sign-in-container {
  
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  
}

.left-section {
  flex: 1;
  background-image: url(https://i.pinimg.com/736x/3f/83/65/3f83655de2643570c96d89f279c7746e.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    opacity: 0.9;
  }
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89EBF6, #8EF8F8);
}

.sign-in-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #7EC4EC;
    border-color: #7EC4EC;
  }

  input {
    width: 95%;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    font-size: 1rem;
    color: #7EC4EC;
    justify-content: center;
    
    &:focus {
      border-color: #8EF8F8;
      outline: none;
    }
  }

  .error-message {
    color: #ff0000;
    font-size: 0.9rem;
    margin-top: 5px;
  }
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7EC4EC;
  color: #ffffff;
  border-color: #7EC4EC;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8EF8F8;
  }

  &:disabled {
    background-color: #7EC4EC;
    cursor: not-allowed;
  }
}

.social-login {
  text-align: center;
  margin-top: 20px;
  margin: 10px;
  justify-content: space-evenly;

  p {
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #666;
  }

  .social-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 4px;
    font-size: 1rem;

    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent; 

    fa-icon {
      margin-right: 10px;
    }

    &.google-btn {
      color: gray; 
      border-color: #7EC4EC; 

      &:hover {
        background-color: rgba(219, 68, 55, 0.1); 
      }
    }

    &.facebook-btn {
      color: gray; 
      border-color: #7EC4EC;

      &:hover {
        background-color: rgba(24, 119, 242, 0.1); 
      }
    }
  }
}